* {
  padding: 0;
  margin: 0;
}

body {
  background: #70af85;
  font-family: Bitter;
  margin: 1em;
  background-color: aliceblue;
}

.logic {
  background-color: #b3c0c0;
  font-size: 1.2rem;
  border-radius: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logic ol {
  list-style-position: inside;
}

.logic ol li {
  padding: 0.2em;
  text-align: start;
}

.quiz-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: block;
}

.quiz-container .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  list-style-type: none;
  font-size: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quiz-container .container .para {
  margin: 0.25em;
  padding: 0.4em;
  text-align: center;
  border-radius: 0.3em;
  -webkit-box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1);
          box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1);
}

.quiz-container .container .answer:hover {
  -webkit-filter: saturate(120%);
          filter: saturate(120%);
  -webkit-filter: hue-rotate(50deg);
          filter: hue-rotate(50deg);
  -webkit-box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5);
          box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
}

.quiz-container .container .answer {
  background-color: #60c2c5;
}

.quiz-container .container .question {
  background-color: #b0e8da;
  font-weight: 700;
}

.quiz-container .results {
  font-size: 1.1rem;
  border-radius: 0.5em;
  margin: 2em 0;
}

.quiz-container .results .rw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: inline-block;
}

.quiz-container .results .rw li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #66ccaa;
  border-radius: 0.5em;
  margin: 0.2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quiz-container .results .rw li p {
  padding: 0.5em;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
}

.quiz-container .results .rw li img {
  display: inline-block;
  padding: 0.4rem;
  height: 5.5vh;
  width: auto;
  margin: 0.4rem;
}
/*# sourceMappingURL=style.css.map */