* {
  padding: 0;
  margin: 0;
  /* outline: 2px solid black; */
}

.test-flex {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style-type: none;
}
.main-container {
  background: rgb(194, 194, 194);
  display: flex;
  flex-direction: row;
  padding: 1em;
}
.test-flex li {
  padding: 0.4em;
  list-style-type: none;
}
.pos {
  display: flex;
  justify-content: center;
}
.scss-var {
  font-family: Fira Code, monospace;
  font-size: 1.2em;
  text-align: left;
  padding: 1em;
  background: rgb(179, 179, 179);
}
.scss-var li {
  padding: 0.5em;
}
@media (min-width: 500px) {
  body {
    margin: 1rem;
  }
  body li {
    list-style-type: none;
  }
  .test-flex1 {
    margin: 1em;
    padding: 2em 1em;
  }
  .test-flex1 li {
    padding: 1em 0.5em;
    list-style-type: none;
  }
}
