* {
  margin: 0;
  padding: 0;
  // outline: red solid 1px;
}
.cont1 {
  margin: 1em;
  padding: 0;
  display: inline-block;
  border-radius: 0.2em;
  font-size: 5rem;
  box-shadow: 0 0.1em #000;

  .link {
    text-decoration: none;
    padding: 0.2em 0.8em;
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 0.03em 0.03em 0 0.03em;
    border-radius: 0.2em;
    color: #000;
    background: rgb(41, 211, 241);
    box-shadow:0.05em 0.05em 0.1em rgba(0, 0, 0, 0.1);
  }
}
.cont1:hover {
  box-shadow: 0 0.2em rgb(0, 0, 0);
  transition: 150ms;
}
