* {
  padding: 0;
  margin: 0;
}
body ul {
  list-style-type: none;
  margin: 25px;
}
body li {
  padding: 2px;
}
.scss-var {
  font-family: Fira Code, monospace;
  font-size: 1.2em;
  text-align: center;
}
.scss-var li {
  padding: 0.1em;
}
