body {
  font-family: Bitter;
  margin: 25px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  font-size: 1.3em;
}
.pos-container {
  align-content: center;
  padding: 20px;
  background-color: hsl(189, 71%, 15%);
  border-radius: 12px;


}

.pos-img {
  padding: 2px;
  width: 30vw;

}
.pos-img1 {
  padding: 2px;
  width: 75vw;

}
a {
  text-decoration: none;
  color: inherit;
}
