/* (A) WRAPPER */
#quizWrap {
  max-width: 50em;
  margin: 3em;
  text-align: center;
}

/* (B) QUESTION */
#quizQn {
  padding: 0.5em;
  background: #4c93ba;
  color: #fff;
  font-family: Bitter, Serif;
  font-size: 4rem;
  text-align: center;
  border-radius: 1em;
}

/* (C) ANSWERS */
#quizAns {
  margin: 1em;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1.5em;
}
#quizAns input[type="radio"] {
  display: none;
}
#quizAns label {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 1em;
  padding: 1em;
  font-size: 3rem;
  cursor: pointer;
  text-align: center;
}
#quizAns label.correct {
  background: #9bff69;
  border: 1px solid hsl(100, 60%, 44%);
}
#quizAns label.wrong {
  background: #ffaaaa;
  border: 1px solid #c78181;
}

/* (D) BODY... DOES NOT QUITE MATTER */
html,
body {
  display: flex;
  background: #74b6db;
  font-family: Bitter, Serif;
  justify-content: center;
}
