body {
  font-size: 1.5em;
  font-family: Bitter;
  background-color: #e7dbdb;
  margin: 20px;
  line-height: 1em;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  background-color: hsl(177, 61%, 52%);
  border-radius: 0.4rem;
  transition: 60ms;
}
a:active {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(235, 222, 222);
}

p::selection {
  background-color: rgba(0, 175, 175, 0.76);
  border-radius: 5px;
}
a::selection {
  background-color: rgba(0, 184, 184, 0.596);
}
