:root {
  --bgColor: #d8d8d8;
  --textColor: #1d1d1d;
}
* {
  padding: 0;
  margin: 0;
}
.home-link {
  font-size: 1.5em;
  background: #c3dbe0;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  border-radius: 1.5em;
}
body {
  margin: 1em;
  background: var(--bgColor);
  /* outline: 2px solid red; */
  font-family: Bitter;
}
.test {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  color: var(--textColor);
}
.test > p {
  background: hsla(0, 0%, 90%, 0.3);
  /* outline: 1px solid blue; */
  margin: 1em;
  border-radius: 0.45em;
  padding: 1em;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.2);
}
