* {
  margin: 0;
  padding: 0;
}
.period-container {
  padding: 0.5em;
  margin: 0.5em;
  background-color: rgba(238, 233, 227, 0.445);
}
.period {
  justify-content: center;
  font-family: Bitter, serif;
  font-weight: 500;
  font-size: 1.15rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
.period > li {
  padding: 0.6em 0.5em;
  margin: 0.35em;
  background: rgb(194, 218, 193);
  border-radius: 0.75em;
  box-shadow: 0.05em 0.05em 0.5em rgba(0, 0, 0, 0.2);
}
.period > li > a {
  text-decoration: none;
  color: black;
  text-align: center;
}
#heading-period {
  font-size: 1.5rem;
  font-weight: 700;
}
